<!-- Header -->
  <header id="header">
    <div class="content">
      <h1><a href="#">{{ site.title }}</a></h1>
      <p>Just a random person in Australia.<br />
      He says hi.</p>
      <ul class="actions">
        <li><a href="https://me.emilsmith.net/" class="button special">My Writing</a></li>
        <li><a href="https://japser.emilsmith.net/" class="button">Jasper and Emil</a></li>
        <li><a href="https://dewheart.emilsmith.net/" class="button">DewHeart</a></li>
        <li><a href="https://github.com/smithomaster" class="button">GitHub</a></li>
      </ul>
    </div>
    <div class="image"><div class="inner"><img src="assets/images/screen.jpg" alt="" /></div></div>
  </header>
